body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: red; */
}
.nav-list{
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}